<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Cloud Computing</title>
  <LINK href="styles.css" rel="stylesheet" type="text/css">
</head>
<h1>
  <center> <b> Cloud computing </b> </center>
</h1>
<body>
<center>
<img src="cloud_computing.gif" id="cc" alt="" height=300px width=400px; />

<!-- Feel free to change this text here -->
<p>
Cloud computing is a general term for anything that involves delivering hosted services over the internet.
These services are divided into three main categories or types of cloud computing: infrastructure as a service (IaaS),
platform as a service (PaaS) and software as a service (SaaS).
</p>
</center>

</body>
</html>
